.quicksand-<uniquifier > {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body {
  font-family: "quicksand";
  background-image: url("https://images.unsplash.com/photo-1530908295418-a12e326966ba?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c2t5JTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=600");
  background-repeat: repeat;
  background-size: cover;
}
#title {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: #805b65;
  text-shadow: #717171 1px 0 15px;
}
#search-bar {
  text-align: center;
}
#city-input {
  font-size: 19.1px;
  border-radius: 15px;
  padding: 15px 15px;
  background-color: #f1dcd7;
  border: 2px solid #bba09c;
  color: black;
}

#search {
  background-color: #f1dcd7;
  border: 2px solid #bba09c;
  padding: 12px 15px 13.5px;
  border-radius: 15px;
  transition: 200ms ease-in-out;
  font-size: 19.1px;
}

#search:hover {
  background-color: #bba09c;
  border: 2px solid #f1dcd7;
  color: #757575;
}

#current-container {
  display: block;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 50%;
  min-width: 600px;
  padding: 25px 30px;
  border-radius: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}
