.quicksand-<uniquifier > {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body {
  font-family: "quicksand";
  background-image: url("https://images.unsplash.com/photo-1530908295418-a12e326966ba?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c2t5JTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=600");
  background-size: cover;
  font-size: 19.1px;
}

#title {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: #805b65;
  text-shadow: #717171 1px 0 15px;
}
#search-bar {
  text-align: center;
  min-width: 300px;
}
#city-input {
  font-size: 19.1px;
  border-radius: 15px;
  padding: 15px 15px;
  background-color: #f1dcd7;
  border: 2px solid #bba09c;
  color: black;
}
#search {
  background-color: #f1dcd7;
  border: 2px solid #bba09c;
  padding: 12px 15px 13.5px;
  border-radius: 15px;
  transition: 200ms ease-in-out;
  font-size: 19.1px;
}
#search:hover {
  background-color: #bba09c;
  border: 2px solid #f1dcd7;
  color: #757575;
}

#current-container {
  display: block;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 50%;
  min-width: 600px;
  padding: 0px 25px 30px;
  border-radius: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  max-height: 300px;
}
.current-temp {
  position: relative;
  top: 20px;
  left: 65px;
  margin: 0px 0px;
  padding: 0px 45px;
}
#current-temp-value {
  position: relative;
  top: 5px;
  font-size: 50px;
  font-weight: 400;
  margin: 0 auto;
}
#current-temp-unit {
  font-weight: 400;
  font-size: 30.9px;
  position: relative;
  bottom: 10px;
  right: 5px;
  margin: 0 auto;
}
#current-temp-icon {
  position: relative;
  right: 20px;
  top: 40px;
}
#current-temp-description {
  position: relative;
  bottom: 10px;
  color: #717171;
  font-size: 19.1px;
}
#current-temp-condition {
  font-weight: bolder;
}

.current-city {
  position: relative;
  left: 65%;
  bottom: 100px;
  right: 0px;
  width: fit-content;
  margin-right: 25px;
}
#city {
  font-weight: 400;
  font-size: 50px;
  margin: 0 auto;
}
#date {
  color: #717171;
  position: relative;
  bottom: 15px;
}
#current-divider {
  position: relative;
  bottom: 110px;
  background-color: #717171;
}
.extras {
  display: grid;
  margin: 0 auto;
  grid-template-columns: auto auto auto;
  list-style-type: none;
  padding: 0;
  position: relative;
  bottom: 100px;
  max-width: 750px;
  text-align: center;
  margin-top: 15px;
}

#footer-container {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 110px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 50%;
  min-width: 600px;
  padding: 1px 25px;
  border-radius: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  max-height: 65px;
}
#signature {
  font-size: 11.8px;
}
a {
  color: #805b65;
  transition: 200ms ease-in-out;
}
a:hover {
  color: #bba09c;
  font-weight: bolder;
}
